@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lora:ital,wght@0,400..700;1,400..700&family=New+Rocker&display=swap');

:root {
    --black: #1f1f1f;
    --colorbase: #8a2be2;
    --main: #8c69ec67;
    --purple: #9932cc;
    --colortxt: #f5f5f5;
    --fontRock: "New Rocker";
    --fontbase: "Bruno Ace", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

html {
    scroll-behavior: smooth;
}

img {
    border-radius: 10px;
}

.me {
    padding: 15%;
    text-align: center;
    font-family: "Bruno Ace", sans-serif;
    font-style: normal;
    color: var(--colortxt);
}

.aboutme {
    text-align: center;
    font-family: "New Rocker";
    color: var(--colortxt);
    text-shadow: 4px 2px var(--colorbase);
    display: flex;
}

.purple-neon-box {
    border: 2px solid var(--colorbase);
    padding: 1em;
    border-radius: 12px;
    background-color: var(--main);
    box-shadow: 0 0 10px var(--purple), 0 0 20px var(--purple);
    margin: 1.5em;
}

.simple-purple-box {
    padding: 1em;
    background-color: var(--main);
    margin: 1.5em;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text-container {
    display: flex;
    padding: 0em 1em 0em 1em;

}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.project-container {
    display: flex;
    padding: 1em;
}

.tittle {
    font-family: var(--fontRock);
    color: var(--colortxt);
    text-shadow: 4px 2px var(--colorbase);
    text-decoration: none;
}

.text {
    font-family: var(--fontbase);
    font-style: normal;
    color: var(--colortxt);
    text-align: center;
    text-decoration: none;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.grid {
    display: grid;
}

.card {
    background-color: var(--main);
    border-radius: 12px;
    padding-top: 1em;
    text-align: center;
    align-items: center;
    margin-bottom: 2px;

}

.card img {
    width: 50px;
    height: auto;
}

.basecard {
    background-color: var(--main);
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.contacts li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar {
    background-color: var(--main);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo a {
    color: var(--colortxt);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: var(--colortxt);
    text-decoration: none;
    transition: color 0.3s;
}